@{
    ViewData["Title"] = "Check Out";
}

@model TransactionData

<style>
    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="date"] {
        background-color: transparent;
        color: white;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
    }

    button {
        padding: 10px 20px;
        @* background-color: #4CAF50; *@
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 200px;
    }

    button:hover {
        background-color: #45a049;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 8px;
        text-align: center;
    }
    
    tr:hover {
        background-color: #0c0c35;
    }
</style>

<br>
<br>
<br>
<body>
    <h2>Receipt</h2>
    <form method="post" action="#">
        <table>
            <tr>
                <th>Security/Commodity Ticker</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
            <tr>
                <td><input type="text" name="ticker" id="ticker" value="@Model.Ticker" readonly></td>
                <td><input type="number" name="quantity" id="quantity" value="@Model.Quantity" readonly></td>
                <td><input type="number" name="price" id="price" value="@Model.Price" readonly></td>
                <td><input type="text" name="date" id="date" value="@Model.Date" readonly></td>
            </tr>
        </table>
        <br>
        <label id="totalLabel">Total: </label>
        <br>
        <br>
        <br>
        <div class="bottom" style="overflow-y: auto;">
        <h2>Check Out</h2>
            <label for="security">Card Number</label>
            <input type="text" id="ticker" name="ticker" maxlength="16">
            <br>
            <label for="quantity">Expiry:</label>
            <input type="date" id="quantity" name="quantity">
            <br>
            <label for="price">Address:</label>
            <input type="text" id="price" name="price">
            <br>
            <label for="date">CVV:</label>
            <input type="password" id="date" name="date" maxlength="3">
            <br>
            <br>
            <button type="submit" name="action" class="btn btn-success" value="buyButton" id="buyButton">Buy</button>
    </form>
    </div>
</body>

<script>
  // Get the quantity and price values
  var quantity = parseFloat("@Model.Quantity");
  var price = parseFloat("@Model.Price");

  // Calculate the total
  var total = quantity * price;

  // Update the label with the total value
  document.getElementById("totalLabel").innerHTML += total.toFixed(2);
</script>