@{
    ViewData["Title"] = "Exchange";
}
@model List<IPO>

@* @model List<(string Ticker, decimal Value, decimal Capital, int Circulating)> *@

<style>
    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"],
    select,
    input[type="date"] {
        background-color: transparent;
        color: white;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
    }

    button {
        padding: 10px 20px;
        @* background-color: #4CAF50; *@
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 200px;
    }

    button:hover {
        background-color: #45a049;
    }

    .bottom table {
        width: 100%;
        border-collapse: collapse;
    }

    .bottom th,
    .bottom td {
        padding: 8px;
        text-align: center;
    }
    
    .bottom tr:hover {
        background-color: #0c0c35;
    }
</style>


<br>
<br>
<div class="text-center">
    <h1 class="display-4">Exchange</h1>
</div>
<br>
<br>
<body>
  <div class="container">
    <h2>Market Overview</h2>
    <div class="new">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container" style="height:100%;width:100%">
        <div id="tradingview_1772c" style="height:calc(100% - 32px);width:100%"></div>
        @* <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div> *@
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
        new TradingView.widget(
        {
        "autosize": true,
        "symbol": "OANDA:XAUUSD",
        "interval": "15",
        "timezone": "Europe/Istanbul",
        "theme": "dark",
        "style": "1",
        "locale": "en",
        "enable_publishing": false,
        "backgroundColor": "rgba(7,7,31,1.00)",
        "save_image": false,
        "hide_volume": true,
        "container_id": "tradingview_1772c"
      }
        );
        </script>
      </div>
      <!-- TradingView Widget END -->
    </div>



    @* <div class="bottom" style="overflow-y: auto;">
      <h2>Buy/Sell</h2>
      <form method="post" action="/Home/Exchange">
        <label for="security">Security/Commodity:</label>
        <select id="security" name="security">
           @foreach (var stock in Model)
            {
                <option value="@stock.Ticker">@stock.Ticker</option>
            }
        </select>
        <br>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price">
        <br>
        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity">
        <br>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
        <br>
        <br>
        <button type="submit" name="action" class="btn btn-success" value="buyButton" id="buyButton">Buy</button>
        <button type="submit" name="action" class="btn btn-danger" value="sellButton" id="sellButton">Sell</button>
    </form>
    </div> *@

    <div class="bottom">
    <h2>Open Positions</h2>
    <table>
      <thead>
          <tr>
              <th>Asset Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Entry</th>
              <th>Unrealized PnL</th>
          </tr>
      </thead>
      <tbody>
          @foreach (var stock in Model)
          {
              var pnl = (stock.Capital - stock.Circulating) * stock.Circulating; // Assuming a fixed reference price of 200
              <tr>
                  <td>@stock.Ticker</td>
                  <td>@stock.Circulating</td>
                  <td>@stock.Value</td>
                  <td>@stock.Capital</td>
                  <td style="color: @(pnl < 0 ? "red" : "green")">@pnl</td>
              </tr>
          }
      </tbody>
    </table>
    </div>
  </div>
</body>

